---
faq:
  - question: What is Lidar?
    answer: Lidar, which stands for Light Detection and Ranging, is a remote sensing method that uses light in the form of a pulsed laser to measure ranges.
  - question: Who is Hesai?
    answer: Hesai Technology is the global leader in 3D-sensors (LiDAR). Founded in Shanghai, Hesai's team of 500 has created a suite of innovative sensor solutions that combine three core strengths---industry-leading performance, manufacturability, and reliability.
---

<h1>FAQ</h1>

<section class="faq">
	<ul>
		{% for item in page.faq %}
			<li><a href="#{{ item.question | slugify }}">{{ item.question }}</a></li>
		{% endfor %}
	</ul>

	{% for item in page.faq %}
		<h2 id="{{ item.question | slugify}}">{{ item.question }}<a class="header-link" href="#{{ item.question | slugify }}">#</a></h2>
		{{ item.answer | markdownify }}
	{% endfor %}
</section>